@import './variables';

.hero {
    //text-align: right;
    width: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    top: 0vh;

    .hero__bg {
        float: right; // to show text on left side of image
        width: 100%;
        object-fit: cover;
    }

    .hero__front {
        float: right;
        position:absolute;
        top: -12vh;
        //bottom: 0vh;
        width: 100%;
    }
}

.pitch {
    text-align: center;
    padding-bottom: 20%;
    margin-top: 10%;
    
    h1 {
        font-weight: normal;
        color: $darkblue;
    }

    div {
        width: 90%;
        margin-left: 5%;
        font-size: $font-med;
        text-align: justify;
    }

}

.why__choose {
    background-color: $lightGrayishBlue;
    text-align: center;
    margin-top: 40px;
    //padding: 24px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 20%;
    display: flex;
    flex-direction: column;

    h2 {
        font-weight: normal;
        color: $darkblue;
    }

    .text {
        width: 80%;
        margin-left: 10%;
        font-size: $font-med;
        //text-align: justify;
    }

    .card {
        margin-top: 40px;
        padding: 3%;
        
        h3 {
            margin-top: 10px;
            margin-bottom: 15px;
        }
    }
}

.articles {
    display: flex;
    flex-direction: column;
    background-color: $veryLightGray;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 20%;

    h2 {
        font-weight: normal;
        //font-size: $font-large;
        color: $darkblue;
    }

    .article__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        margin-bottom: 10%;
        background-color: $white;
        padding-bottom: 10%;

        img {
            width: 100%;
        }

        .text {
            width: 80%;

            p {
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            h6 {
                font-size: $font-sm;
                color: $grayishBlue;
                font-weight: normal;
                margin-bottom: 3%;
            }

            h4 {
                color: $darkblue;
                font-weight: normal;
                font-size: $font-large;
                margin-bottom: 3%;
            }
        }
    }
}

.overlay {
    width: 100%;
    height: 0vh;
    position: absolute;
    z-index: 1;
    transition: 500ms ease-in-out;
    background: linear-gradient($darkblue, transparent);
}

.overlay__appear {
    top: 9vh;
    margin: 0%;
    height: 100vh;
    transition: 400ms ease-in-out;
}

.overlay__disappear {
    top: 9vh;
    margin: 0%;
    height: 0vh;
    transition: 400ms ease-in-out;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $darkblue;
    height: 70vh;
    padding-top: 8%;
    padding-bottom: 8%;

    .social__media__links {
        width: 40%;
        height: 5%;
        display: flex;
        justify-content: space-between;

        a {
            height: 100%;
            img {
                height: 100%;
            }
        }
    }
   
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: $white;
        }
    }
}